h2, h5 {
	margin: 0;
}
h3 {
	margin-bottom: 0;
}
h5 {
	padding: 8px 8px;
}

body {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

button {
	color: white;
	display: inline-block;
	text-align: center;
	border: none;
}

form {
	margin: 16px auto 16px auto;
}
input {
	width: 100%;
	border-width: 1px;
	font-size: 1.1em;
	border-radius: 4px;
	text-align: center;
}
label {
	margin-top: 20px;
}

table {
	color: white;
	width: 100%;
	margin: auto;
}

.info td {
	padding-bottom: 8px;
}
.info td:first-child {
	text-align: right;
	width: 30%;
	padding-right: 20px;
}

.verification {
	width: 60%;
	border-collapse: collapse;
}
.verification tr {
	transition: all 0.2s ease-in-out;
}
.verification tr:nth-child(even) {
	background-color: rgba(90, 90, 90, 0.8);
}
.verification tr:nth-child(even):hover {
	background-color: rgba(100, 100, 100, 0.8);
}
.verification tr:nth-child(odd) {
	background-color: rgba(50, 50, 50, 0.8);
}
.verification tr:nth-child(odd):hover {
	background-color: rgba(60, 60, 60, 0.8);
}
.verification td, .verification th {
	text-align: center;
	border: 2px solid black;
	height: 48px;
}
.verification td:nth-child(1) {
	width: 40%;
}
.verification td:nth-child(3) {
	width: 15%;
}

a:link {
	color: #f0bb00;
}

a:visited {
	color: #3ea2dc;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.panel {
	color: white;
	background-color: rgba(60, 60, 60, 0.8);
	margin: 8px;
	padding: 16px;
}

.grow {
	transition: all 0.2s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}

.text-centered {
	text-align: center;
}

.text-right {
	text-align: right;
}

.full-width {
	width: 100%;
}

.round {
	border-radius: 25px;
}

.radius {
	border-radius: 10px;
}

.row {
	width: 100%;
	margin-bottom: 20px;
}
.game {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	max-height: 300px;
}
.game-container {
	background-color: rgba(100, 100, 100, 0.8);
	margin: 5px;
	padding: 5px;
}
.game-container > div {
	position: relative;
	height: 60%;
}
.picture {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
.picture-container {
	min-height: 156px;
	height: 100%;
	margin: 4px 8px;
}
.sold-out {
	background-image: url("../include/sold_out.php");
	position: absolute;
	z-index: 10;
	width: 100%;
}
.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.information {
	height: 40%;
	max-height: 80px;
	margin-top: 8px;
}
.title {
	text-align: center;
	margin: 0;
	height: 60%;
	max-height: 40px;
}
.price {
	display: inline-block;
	width: 40%;
	font-size: 0.9em;
}

.action-container {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	display: table;
}
.action-container button {
	width: 40%;
	display: table-cell;
	font-size: 1.2em;
	padding: 16px 16px;
}
.action-container.two button {
	margin-right: 5%;
	margin-left: 5%;
}
.action-container.one button {
	margin-right: 30%;
	margin-left: 30%;
}

.information button {
	width: 45%;
	padding: 8px 8px;
}

.green {
	background-color: rgba(76, 175, 80, 0.9);
}
.green:hover {
	background-color: rgba(86, 185, 90, 0.9);
}
.orange {
	background-color: rgba(255, 153, 0, 0.9);
}
.orange:hover {
	background-color: rgba(255, 163, 10, 0.9);
}
.red {
	background-color: rgba(150, 40, 40, 0.9);
}
.red:hover {
	background-color: rgba(160, 50, 50, 0.9);
}


#header, #content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#content {
	height: 60%;
}
#content.info, #content.final {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}

#menu {
	width: 12%;
	top: 2%;
	right: 2%;
	position: fixed;
}

#input-container {
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
}